greenlet==3.0.1
importlib-metadata==7.0.0
linkify-it-py==2.0.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
numpy==1.26.2
pandas==2.1.3
Pillow==9.5.0
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
rich==13.7.0
rich-pixels==2.1.1
six==1.16.0
SQLAlchemy==2.0.23
sqlglot==19.8.3
textual==0.44.1
tree-sitter==0.20.4
tree-sitter-languages==1.8.0
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
zipp==3.17.0
